
body{
    margin: 0;
    margin-top: 60px;
    padding: 0;
    background-color: rgb(238, 238, 238);
}
header {
    background-color: white;
    top: 0;
    margin: 0 auto;
    width: 1500px;
    height: 60px;
    position: fixed;
}


.profile-img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    nav-right: 30px;
    float: left;
}

.profile-name{
    font-size: 18px;
}


article {
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    
  }

  

  #article-mid{
      width: 100%;
  }

  .art-include-img{
      width: 100%;
      margin: 0 auto;
  }

  #article-footer{
    margin-top: 20px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 10px;
  }


  .inline{
      display: inline-block;
  }

  #comments{
      display: grid;
      grid-template-columns: 1fr 4fr 1fr;
      border-bottom: 1px grey solid;
      padding-bottom: 10px;
  }


  .footerimg{
      margin: auto 5px;
  }

  #cm{
    width: 100%;
    resize: none;
    height: 40px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    max-height: 330px;
    caret-color: #4671EA;
    border: 1px solid #bfbfbf;
  }

  #cm::placeholder{
    color: #b3b3b3;
  }

  #cm:is(:focus, :valid){

    border: 2px solid #4671EA;
  }

  #cm::-webkit-scrollbar{
    width: 0px;
  }

  #submit-cm{
      margin: auto 15px;
      width:100px;
      height: 40px;
      border: 0px;
      border-radius: 20px;
      background-color: rgb(77, 77, 240);
      color: white;
      cursor: pointer;
      
      
  }

  #submit-cm:active{
    background-color: rgb(20, 20, 240);
  }

  .ans{
      border-bottom: 1px black solid;
  }